/* .contact {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #fff6f3;
  border-radius: 10px;
  border: 3px solid #71c8e2;
  line-height: 1.5;
} */

/* * {
  box-sizing: border-box;
  line-height: 1.5;
} */

/* .contact-header {
  font-weight: 500;
} */

.contact-form {
  display: block;
  position: relative;
  background-color: white;
  width: 550px;
  height: 550px;
  margin: 50px auto;
  padding: 30px;
}

label {
  display: block;
  position: relative;
  top: -20px;
  left: 0px;
  color: rgb(50, 50, 50);
  font-size: 0.9em;
  transition: all 0.5s ease;
  z-index: 1;
}

input {
  display: block;
  position: relative;
  background: none;
  border: none;
  border-bottom: 3px solid #ddd;
  width: 100%;
  font-size: 0.9em;
  z-index: 2;
  outline: none;
}

input:focus input:valid {
  outline: none;
  border-bottom: 3px solid #71c8e2;
}

input:focus + label,
input:valid + label {
  top: -40px;
  font-size: 0.5em;
  color: #71c8e2;
}

textarea {
  display: block;
  position: relative;
  background: none;
  border: none;
  border-bottom: 3px solid #ddd;
  width: 100%;
  font-size: 0.9em;
  z-index: 2;
  outline: none;
}

textarea:focus textarea:valid {
  outline: none;
  border-bottom: 3px solid #71c8e2;
}

textarea:focus + label,
textarea:valid + label {
  top: -40px;
  font-size: 0.5em;
  color: #71c8e2;
}
